@import url("./styles/fonts.css");
@import url("./styles/header.css");
@import url("./styles/section.about.css");
@import url("./styles/section.contact.css");
@import url("./styles/section.hero.css");
@import url("./styles/section.projects.css");
@import url("./styles/section.skills.css");
@import url("./styles/footer.css");

:root {
  --main-color: #353434;
  --second-color: #0a0a0a;
  --main-font-color: white;
  --box-shadow: 2px 2px 5px rgb(145, 141, 141);
  --max-width: 1200px;
  --header-height: 100px;
  --main-font-style: "Dyna Puff", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) var(--second-color);
}

body {
  background: var(--main-color);
  color: var(--main-font-color);
  font-family: var(--main-font-style);
}

header {
  display: block;
  background-color: var(--second-color);
  width: 100%;
  height: var(--header-height);
  box-shadow: var(--box-shadow);
  border-bottom: 1px solid rgba(15, 223, 255, 0.2);
}

main {
  display: block;
}

footer {
  display: block;
  background: var(--second-color);
}

section {
  padding: 100px 0;
  position: relative;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0px auto;
  padding: 0 20px;
}
