<footer class="footer">
  <div class="footer-inner">
  <div class="footer-left">
    <a routerLink="/legal-notice" class="legal-link">{{ ts.t.footer.legal }}</a>
    <span>© Lutz Bölling 2026</span>
  </div>

  <div class="footer-center">
    <img src="img/lb-logo.svg" alt="Lutz Bölling developer" class="footer-logo" />
  </div>

  <div class="footer-right">
    <a href="https://github.com/exactdevflaw" target="_blank" aria-label="GitHub">
      <img class="default" src="img/icon-footer-github.svg" />
      <img class="hover" src="img/icon-footer-github-hover.svg" />
    </a>
    <a href="mailto:lutzboelling@gmx.de" aria-label="Email">
      <img class="default" src="img/icon-footer-mail.svg" />
      <img class="hover" src="img/icon-footer-mail-hover.svg" />
    </a>
    <a href="https://linkedin.com/in/lutzboelling" target="_blank" aria-label="LinkedIn">
      <img class="default" src="img/icon-footer-linkedin.svg" />
      <img class="hover" src="img/icon-footer-linkedin-hover.svg" />
    </a>
  </div>
  </div>
</footer>
