<footer class="footer">
  <div class="footer-left">
    <a href="#" class="legal-link">Legal notice</a>
    <span>© Lutz Bölling 2024</span>
  </div>

  <div class="footer-center">
    <img src="img/logo.svg" alt="Lutz Bölling developer" class="footer-logo" />
  </div>

  <div class="footer-right">
    <a href="https://github.com/exactdevflaw" target="_blank" aria-label="GitHub">
      <img class="default" src="img/icon-github.svg" />
      <img class="hover" src="img/icon-github-hover.svg" />
    </a>
    <a href="mailto:lutzboelling@gmx.de" aria-label="Email">
      <img class="default" src="img/icon-mail.svg" />
      <img class="hover" src="img/icon-mail-hover.svg" />
    </a>
    <a href="https://linkedin.com/in/lutzboelling" target="_blank" aria-label="LinkedIn">
      <img class="default" src="img/icon-linkedin.svg" />
      <img class="hover" src="img/icon-linkedin-hover.svg" />
    </a>
  </div>
</footer>
