<section class="hero" id="hero">
  <div class="social-icons">
    <a href="mailto:lutzboelling@gmx.de" aria-label="Email">
      <img class="default" src="img/icon-social-mail.svg" />
      <img class="hover" src="img/icon-social-mail-hover.svg" />
    </a>
    <a href="https://github.com/exactdevflaw" target="_blank" aria-label="GitHub">
      <img class="default" src="img/icon-social-github.svg" />
      <img class="hover" src="img/icon-social-github-hover.svg" />
    </a>
    <a href="https://linkedin.com/in/lutzboelling" target="_blank" aria-label="LinkedIn">
      <img class="default" src="img/icon-social-linkedin.svg" />
      <img class="hover" src="img/icon-social-linkedin-hover.svg" />
    </a>
  </div>

  <div class="hero-content">
    <div class="photo-wrapper">
      <div class="photo-bg"></div>
      <img class="photo-img" src="img/profile.webp" alt="Lutz Bölling" />
      <img class="photo-img-mobile" src="img/profile-mobile.webp" alt="Lutz Bölling" />
    </div>

    <div class="hero-text">
      <h1>Lutz Bölling</h1>
      <p class="subtitle">{{ ts.t.hero.subtitle }}</p>
      <div class="scroll-btn" (click)="scrollDown()" aria-label="Scroll down">
        <img src="img/arrow-down.svg" alt="scroll down" />
      </div>
    </div>
  </div>
</section>
