<section class="skills" id="skills">
  <h2 class="section-title">{{ ts.t.skills.title }}</h2>

  <div class="skills-wrapper">
    <div class="skills-grid">
      @for (skill of skills; track skill.name) {
        <div class="skill-item">
          <img [src]="skill.img"/>
          <span class="skill-name">{{ skill.name }}</span>
        </div>
      }
    </div>

    <div class="learning-bubble">
      <p class="learning-title">{{ ts.t.skills.learning }}</p>
      <div class="learning-tags">
        <div class="learning-tag-item">
          <img src="img/skill-react.svg" alt="React" />
          <span>React</span>
        </div>
        <div class="learning-tag-item">
          <img src="img/skill-vue.svg" alt="Vue.js" />
          <span>Vue.js</span>
        </div>
      </div>
      <p class="learning-desc">
        {{ ts.t.skills.learningDesc }}
      </p>
    </div>
  </div>
</section>
