header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%
}

header .container ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

header .container .logo img {
  height: 80px;
}
