.hero {
  padding-top: calc(var(--header-height) + 80px);
  padding-bottom: 100px;
  background-color: var(--main-color);
  overflow: hidden;
  position: relative;
}

.hero .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  z-index: 1;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.hero-image {
  flex: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 400px;
}

.hero-image img {
  object-fit: cover;
  /* height: 350px; */
  border-radius: 50px;
}
